DATABASE_URL=postgres://postgres:postgres@127.0.0.1:5432/putevka?sslmode=disable
POSTGRES_DB=putevka
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
DB_CONN_MAX_AGE=60
